<template>
   <h3>ABOUT USER</h3>
   <form @submit.prevent="onsave">
    <div>
            <label>Name</label>
        <input type="text" class="form-control" v-model="name"></div>
        <div>
            <label>Address</label>
                <input type="text" class="form-control" v-model="address">
        </div><br>
        <button type="submit">save</button>
   </form>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
            name:'',
            address:'',
        }
    },
    methods:{
        onsave(){
            axios.post('http://localhost:3001/user/create',{
                name:this.name,
                address:this.address
            }).then(response => {
                console.log(response);
                this.$router.push('/posts')
            });

        }
    }
    
}
</script>