
<template>
  <button @click="sendData">Send Data</button>
</template>

<script>
export default {
  methods: {
    sendData() {
      this.$emit('custom-event', 'Data from child');
    },
  },
};
</script>
