<template>
    <div>
        <p>
            {{receivedMessage}}
        </p>
    </div>
</template>

<script>

import {EventBus} from './EventBus'
export default {
data(){
    return{
        receivedMessage:''
    }
},
created(){
    EventBus.$on('message-sent',(message)=>{
        this.receivedMessage=message;
    });
}
}
</script>