<template>
    <div>
        <button @click="sendMessage">
            Sneding message from component A
        </button>
    </div>
</template>

<script>
import {EventBus} from './EventBus';
export default {
    methods:
    {
        sendMessage(){
            EventBus.$emit('message-sent','hello from component A')

        }
    }
    
}
</script>