<template>
  <div>
    <h1 v-if="isOn">Vue Conditions</h1>

    <h1 v-else-if="isOff">About node js</h1>

    <p v-if="isOn" >In Vue.js, conditions are controlled using directives like v-if, v-else, and v-else-if. They allow you to selectively display or hide elements in the DOM based on specific data conditions, enabling dynamic and responsive UIs for to managing content changes and interactions.simultaneously</p>

    <p v-else-if="isOff">Node.js is a runtime environment for executing JavaScript on the server side. It's built on the V8 JavaScript engine and provides a non-blocking, event-driven architecture, making it efficient for handling I/O-heavy tasks. Node.js allows developers to create scalable, high-performance applications, including web servers and APIs. With a rich ecosystem of packages through npm (Node Package Manager), Node.js is widely used for web development, networking, and real-time applications, offering a versatile and powerful platform for server-side JavaScript development.</p>
   
    <div v-if="isOn"><b>If you don't wanna learn vue condtions then click on the below button to learn the node</b></div>
    
    <div v-else-if="isOff"><b>this is a little about the node</b><br><br>
    for more info contact me:7989685272</div>
    
    <div v-else>The button state is unclear</div>
    <br>
    <button @click="toggleButton">change</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOn: true,
      isOff: false,
    };
  },
  methods: {
    toggleButton() {
      this.isOn = !this.isOn;
      this.isOff = !this.isOff;
    },
  },
};
</script>
<style>
div{
  text-align: center;
}
</style>