<template>
    <div>
      <h1>v-bind</h1>

       <p v-bind:style="{color:'skyblue'}">Learning v- bind</p>

        <p v-bind:style="{color:colorName}">Learning style bindings</p>

        <h1 class="checkMe">Learning style bindings</h1>

        <h1 v-bind:style="{color:colorName}">Learning style bindings</h1>

        <h1 v-bind:class="{display:show,checkMe:show}">class with object</h1>

        <h1 v-bind:class="['display','checkMe']">class with arrays</h1>

        <h1 v-bind:class="[d,c]">using class with arrays in a different way</h1>

        <h1 v-bind:class="[displayCheck?d:c]">class with arrays</h1>

 <br><h1>Two Way Data Binding</h1>
        <h1>{{message}}</h1>
        <input type="text" v-model="message">
    </div>
</template>
<script>
export default {
 data() {
    return {
      message:"kiki",
      colorName:'pink',
            show:true,
            d:'display',
            c:'checkMe',
            displayCheck:false
    };
  },

}


</script>

<style>
.display{
    background-color: blue;
    padding: 20px;
    display: flex; 
    width: 300px;
    position: relative;
    top: 20%;
    left: 30%;

}
.checkMe{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

</style>