<template>
    
<div id="app"> 
        <h1>
            ON MOUSE OVER EVENT
        </h1>
        <div id ="mouseover" v-on:mousemove="mouseOver">
            <span>xPosition:{{xPos}}</span><br>
            <span>yPosition:{{yPos}}</span>
        </div>
</div>
        <h1>
            Addmouse EVENT
        </h1>

 <p>{{"Moouse count:" +count}}</p>
    <button v-on:click="addMouse(1)">1</button>
    <button v-on:click="addMouse(5)">5</button>
    <button v-on:click="addMouse(-1)">-1</button>
    <button v-on:click="addMouse(-5)">-5</button><br><br>   
      
      
        <h1>
            Event Modifiers
        </h1>
        <p></p>

    <button @click.stop="stopClickPropagation">Stop Propagation</button> <br><br>

    <p>here the below link will not work beacuse we used the .prevent to do not navigate</p>
    <a @click.prevent="preventLinkNavigation" href="https://www.w3schools.com/vue/vue_event-modifiers.php">An AI tool</a>

<h1>Event occurs Only Once</h1>

<div>
  <p>The below button occurs only once why beacuse we use the event that occurs only once</p>
  <button v-on:click.once="createAlert">Button</button>
</div>



   
   <h1>Key Down Event to record the keys</h1>

  <p>Start writing inside the text box to record the key value:</p>
  <input type="text" v-on:keydown="getKey">
  <p id="green">{{ keyValue }}</p>
  


<h1>Key Down Event when you press 'S'</h1>

<p>The 'S' key generates an alert</p>
<input type="text" v-on:keydown.s="createAlertforS">



<h1>Key Down Event when you want to save</h1>

<p>this event works when you want to save this file.it was written by using combination of key events</p>
<input type="text" v-on:keydown.ctrl.s="createAlertforSave">


<h1>Mouse Events</h1>

<p>this is keerthana.chelluboina and iam working on mouse events in vue js</p>
<p>this below right click button will navigate to an url when you right click on that button</p>
<button v-on:click.right="Rightclick">Right Click</button>



</template>

<script>
export default {
     data(){
        return {
            xPos:0,
            yPos:0,
            count:0,
            keyValue:''
        }
        
    },methods:{
        mouseOver(event){
            this.xPos=event.offsetX
            this.yPos=event.offsetY


        },addMouse(number){
            this.count+=number

        },stopClickPropagation() {
      alert('Button clicked, and event propagation is stopped.');

    },
    preventLinkNavigation() {
      alert('Link clicked, but navigation is prevented.');


    },createAlert() {
     alert("this button works for only once")
     
     },
      getKey(evt) {
        this.keyValue = evt.key
        console.log(evt.key)
      },
      createAlertforS(){
         alert("Do you know that You have pressed the 'S' key!");

      },
      createAlertforSave(){
         alert("You really want to save this file then tap on okay..........!");

      },
      Rightclick(event){
      event.preventDefault();
      const newLink = 'https://www.w3schools.com/vue/tryit.php?filename=tryvue_modifiers_rightClick';
      window.location.href = newLink;

      }
    }
}

</script>
<style>
button{
    margin-left: 20px;
}
#mouseover{
  background-color: rgb(233, 133, 215);
    height: 70px;
   padding-top: 2px;
   width: 300px;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  left: 39%;

}
</style>
