<template>
    <div>
      Home Component
      <br>
      <div><button @click.prevent="onPostsPage()"> Click to Posts Page</button></div>
    </div>
</template>

<script>
export default {
    methods:{
        onPostsPage(){
            // this.$router.push('/post');
            // this.$router.replace('/post');
            this.$router.push({path:'/post',query: {id:1}});
            this.$router.go(1);//this router will go forward when we give postive number and backward for negative number 



        }
    }
    
}
</script>