<template>
  <div>
    <h1>JSON Parsing</h1>
    <p>Name: {{ parsedData.name }}</p>
    <p>Age: {{ parsedData.age }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      jsonData: '{"name": "keerthana", "age": 21}',
      parsedData: {},
    };
  },
  created() {
    this.parsedData = JSON.parse(this.jsonData);
  },
};
</script>
