<template>
    <div>
        <h1>
            Loops(v-for)
        </h1>
<div class="table">
    
         <tr>
          <td>ID</td><td>NAME</td><td>EMAIL</td>
         </tr>
            <tr v-for="user in users" :key="user.id">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
</div>
    </div>
</template>

<script>
export default {
    name:'LoopsVue'
    
    ,data(){
        return{
            users:[
                {id:1,name:"kiki",email:"kiki@gmail.com"},
                {id:2,name:"raghuVardan",email:"raghuVardan@gmail.com"},
                {id:3,name:"ruhi",email:"ruhi@gmail.com"},
                {id:4,name:"kushi",email:"kushi@gmail.com"}
            ]
        }
    }
}
</script>

<style>

.table {
  border-collapse: collapse;
  text-align: center;
}
 td {
  border: 1px solid #0b0a0a;
  padding: 10px;
  text-align: center;
}
h1{
    text-align: left;
}
</style>