<template>
  <div>
    <center><h1>Methods for Basic Math Operations</h1>

    <input v-model="num1" type="number" placeholder="Enter first number" /><br><br>
    <input v-model="num2" type="number" placeholder="Enter second number" /><br><br>

    <button @click="add">Add</button>
    <button @click="subtract">Subtract</button>
    <button @click="multiply">Multiply</button>
    <button @click="divide">Divide</button>

    <p v-if="result !== null">Result: {{ result }}</p>
    </center>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num1: null,
      num2: null,
      result: null,
    };
  },
  methods: {
    add() {
      if (this.num1 !== null && this.num2 !== null) {

        const sum = parseFloat(this.num1) + parseFloat(this.num2);
        this.result = sum;
      } 
      else {
        this.result = null;
      }
    },
    subtract() {
      if (this.num1 !== null && this.num2 !== null) {
        const difference = parseFloat(this.num1) - parseFloat(this.num2);
        this.result = difference;
      } 
      else {
        this.result = null;
      }
    },
    multiply() {
      if (this.num1 !== null && this.num2 !== null) {

        const product = parseFloat(this.num1) * parseFloat(this.num2);
        this.result = product;

      }
       else {
        this.result = null;
      }
    },
    divide() {
      if (this.num1 !== null && this.num2 !== null) {

        if (parseFloat(this.num2) === 0) {
          this.result = 'Division by zero is undefined';
        }
         else {
          const quotient = parseFloat(this.num1) / parseFloat(this.num2);
          this.result = quotient;

        }
      } else {
        this.result = null;
      }
    },
  },
};
</script>

<style>
button{
    margin-left: 8px;
}
</style>
