<template>
    <div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Routing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
    <router-link to='/' class="nav-link">Home</router-link>
        </li>
        <li class="nav-item">
    <router-link to='/about' class="nav-link">about</router-link>
         
        </li>
        <li class="nav-item">
             <router-link to='/post' class="nav-link">posts</router-link>

        </li>
      </ul>
    </div>
  </div>
</nav>
    </div>
</template>
<script>
export default {
    
}
</script>

<style scoped>

a.router-link-active{
    background: grey;
    margin-left: 10px;
}
</style>