<template>
  <div>
     <h1>{{ messageFromChild }}</h1>
    <ChildVue @custom-event="handleCustomEvent" />
  </div>
</template>

<script>
import ChildVue from './ChildVue.vue';

export default {
  components: {
    ChildVue,
  },
  data() {
    return {
      messageFromChild: 'Custom Event-Data in Parent',
    };
  },
  methods: {
    handleCustomEvent(data) {
        this.messageFromChild = data;
    },
  },
};
</script>
