<template>
    <div>
        <h3>Posts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="post in posts" :key="post.id">
                    <td>{{post.name}}</td>
                    <td>{{post.address}}</td>
                    </tr>   
             </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name:'PostComponent',
    data(){
        return{
            posts:[
                {"name": "keerthana", "address": "ongole"},
                {"name": "kiki", "address": "antervedipalem"},
                {"name": "angel", "address": "palkollu"}
            ]
        }
    },
    mounted(){
        axios.get('http://localhost:3001/user/getAll')
        .then((response)=>{
            this.formatPosts(response.data);
        });
    },
    methods:{
        formatPosts(postData){
            for(let key in postData){
                this.posts.push({...postData[key],id:key});
            }
        }
    }
}
</script>