<template>
    <div>
        <p>
            A watcher is a method that watches a data property with the same name and it runs every time the data property value changes we use this when a certain data property value requires an action.
        </p>
        <form v-on:submit.prevent="addItem">
            <h1>Registration</h1>
            <label class="label">Name:</label>
            <input type="text" v-model="name"><br><br>
            <label class="label">Password:</label>
            <input type="password" v-model="password"><br><br>
            <button type="submit">Save</button>
        </form><br>
        <h1>Registered members list</h1>
        <ul>
            <p v-for="(item, index) in registeredList" :key="index">
                {{ item.name }}, {{ item.password }}
            </p>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: null,
            password: null,
            registeredList: [
                { name: 'kiki', password: '12334' }
            ]
        }
    },
    methods: {
        addItem() {
            let item = {
                name: this.name,
                password: this.password
            }
            this.registeredList.push(item);
            this.name = null;
            this.password = null;
        }
    }
}
</script>
<style>
.label{
    margin:10px
}
</style>
