<template>
  <div>
    <h1>Volume Tracker</h1>
    <p>Volume Level: {{ volume }}</p>
    <button @click="increaseVolume">Increase Volume</button>
    <button @click="decreaseVolume">Decrease Volume</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      volume: 0,
    };
  },
  watch: {
    volume(newVolume, oldVolume) {
      if (newVolume > oldVolume) {
        if (newVolume === 10) {
          alert("High volume reached!");
        }
      }
    },
  },
  methods: {
    increaseVolume() {
      this.volume += 1;
    },
    decreaseVolume() {
      this.volume -= 1;
    },
  },
};
</script>
