<template>
<div>
  <!-- <WatchersVue/> -->

  <!-- <ParentVue/>

  <JsonParsing/>

  <EventsVue/>

  <MethodsVue/>

  <DataBinding/>

  <LoopsVue/>

  <ConditionVue/>

  <HelloWorld msg="Hello"/>
  <HelloWorld msg="this is keerthana Learning vue"/> -->

<VueForms/>

<!-- <ComponentA/> -->

<!-- <ComponentB/> -->

<!-- <NavigationVue/> -->

<!-- <router-view>
</router-view> -->

  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

// import ConditionVue from './components/ConditionVue.vue'

// import LoopsVue from './components/LoopsVue.vue'

// import DataBinding from './components/DataBinding.vue'

// import MethodsVue from './components/MethodsVue.vue'

// import EventsVue from './components/EventsVue.vue'

// import JsonParsing from './components/JsonParsing.vue'

// import ParentVue from './components/ParentVue.vue'

// import WatchersVue from './components/WatchersVue.vue'

import VueForms from './components/VueForms.vue'

// import ComponentA from './components/ComponentA.vue'

// import ComponentB from './components/ComponentB.vue'

// import NavigationVue from './components/NavigationVue.vue'


export default {
  name: 'App',
  components: {
    // HelloWorld,
    // ConditionVue,
    // LoopsVue,
    // DataBinding,
    // MethodsVue,
    // EventsVue,
    // JsonParsing,
    // ParentVue,
    // WatchersVue,
    VueForms
    // ComponentA,
    // ComponentB,
    // NavigationVue
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
div{
  text-align: 20px;
}
</style>
